@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --3d-slideshow-spread: 1;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 2050;
  }
  50%,
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes type {
  10% {
    content: "A";
  }
  20% {
    content: "A p";
  }
  30% {
    content: "A pi";
  }
  40% {
    content: "A pia";
  }
  50% {
    content: "A pian";
  }
  60% {
    content: "A piani";
  }
  70% {
    content: "A piani";
  }
  80% {
    content: "A pianis";
  }
  90%,
  100% {
    content: "A pianist";
  }
}

@keyframes smooth-slide-up {
  0% {
    opacity: 1;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.reveal-on-scroll {
  opacity: 0;
  transition: 2s;
}

body {
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", serif;
  font-weight: 600;
  background-color: #f2f1ef;
  overflow-x: hidden;
}

#landing-section, #about-section, .info-container, .about-outro-img, #work-section, .singles-container, .events-container, #contact-section, .gallery-section, .site-footer {
  border: 1px solid black;
  border-radius: 25px;
  box-sizing: border-box;
  overflow: hidden;
}

.random-notes {
	visibility: hidden;
	position: fixed;
}

#play-sound {
	position: fixed;
	top: 50vh;
	left: 50vw;
  font-family: "Josefin Sans", serif;
	aspect-ratio: 1/1;
	padding: 10px;
	background-color: #3c3c3c;
	color: white;
	border-radius: 50%;
	border: none;
	transform: translate(-50%,-50%);
  z-index: 3;
}

#play-sound:active {
	background-color: grey;
}

.topnav {
  position: fixed;
  background-color: #f2f0ef;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  z-index: 1;
  transition: transform 0.5s ease-out;
}

.logo-signature {
  height: 100px;
  width: 150px;
  padding-left: 20px;
}

.navlinks-container {
  width: 50%;
  max-width: 200px;
  padding: 42px;
  display: flex;
  justify-content: space-between;
}

.navlinks-container a {
  color: black;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
}

.navlinks-container a:hover {
  text-decoration: underline;
}

/* Landing Section Styling */

#landing-section {
  width: 100%;
  height: 100vh;
  background-color: #f2f0ef;
  position: relative;
}

.landing-signature {
  transform: translate(calc(50vw - 250px), calc(50vh - 100px));
}

#signature-path1 {
  animation: draw 3s 1s cubic-bezier(0.55, 0, 1, 0.45);
  animation-fill-mode: forwards;
  stroke-dasharray: 2050;
  stroke-dashoffset: 2050;
}

#signature-path2 {
  animation: draw 5s 2.2s cubic-bezier(0.55, 0, 1, 0.45);
  animation-fill-mode: forwards;
  stroke-dasharray: 2050;
  stroke-dashoffset: 2050;
}

#signature-path3 {
  animation: draw 3s 4.5s cubic-bezier(0.55, 0, 1, 0.45);
  animation-fill-mode: forwards;
  stroke-dasharray: 2050;
  stroke-dashoffset: 2050;
}

.a-pianist {
  position: absolute;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.1em;
  text-align: center;
  top: 70%;
  right: calc(50% - 50px);
}

.a-pianist::before {
  content: " ";
  animation: type 1s 5s;
  animation-fill-mode: forwards;
}

.scroll-icon {
  width: 50px;
  opacity: 0;
  position: absolute;
  bottom: 20px;
  right: calc(50% - 25px);
  animation: smooth-slide-up 2s 6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  animation-fill-mode: forwards;
}

.scroll-icon:hover {
  fill: #3c3c3c;
}

/* About Section Styling */

#about-section {
  height: 100vh;
  padding: 0 10px;
  background-color: #f2f1ef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.slideshow-container {
	box-sizing: border-box;
	width: 50vw;
	aspect-ratio: 16 / 9;
	border-radius: 25px;
	overflow: hidden;
  border: 1px solid black;
}

#yt-slide-up, #yt-slide-down, .album-slide-left,  .album-slide-right {
	background-color: light-grey;
	margin: 10px;
	width: 100px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	font-size: 2em;
  position: absolute;
}

#yt-slide-up {
  top: 10px; 
  left: calc(25vw - 50px);
}

#yt-slide-down {
  bottom: 10px;
  left: calc(25vw - 50px);
}

#yt-slide-up:hover, #yt-slide-down:hover, .album-slide-left:hover, .album-slide-right:hover {
	background-color: grey;
}

.yt-slide {
	display: block;
	transform: translateY(0%);
	border-radius: inherit;
	transition: 1s;
	width: 100%;
	height: 100%;
}

.live-perfomances-svg-container {
  position: relative;
  width: 40vw;
}

.live-perfomances-svg-container::after {
  content: "In a world full of sounds, only a few touch the heart. ";
  color: black;
  text-align: center;
  position: absolute;
  top: calc(100% - 2rem);
  left: 10px;
  right: 10px;
}

.live-perfomances-svg g {
  stroke: black;
}

#liv-of-live {
  stroke-dasharray: 860;
  stroke-dashoffset: 860;
}

#e-of-live {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
}

#i-dot-of-live {
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
}

#p1-of-perform {
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
}

#p2-of-perform {
  stroke-dasharray: 420;
  stroke-dashoffset: 420;
}

#er-of-perform {
  stroke-dasharray: 270;
  stroke-dashoffset: 270;
}

#fo-of-perform {
  stroke-dasharray: 640;
  stroke-dashoffset: 640;
}

#r-of-perform {
  stroke-dasharray: 160;
  stroke-dashoffset: 160;
}

#ma-of-perform {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
}

#n-of-perform {
  stroke-dasharray: 280;
  stroke-dashoffset: 280;
}

#ces-of-perform {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.info-container {
  height: 100vh;
  width: 100%;
  background-color: #f2f0ef;
  padding: 0 0 20px 0;
  display: flex;
  flex-direction: column;
}

.info-cell {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-cell-header {
	font-family: "Dancing Script", serif;
  margin: 0 10px;
  font-size: 20vh;
  color: #f2f0ef;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  white-space: nowrap;
}

.info-cell-descript {
  width: 33.3%;
  margin: 0 10px;
  transform: translateX(110%);
  transition: 0.5s;
}

.info-cell-descript p {
  margin: 0;
  text-align: right;
}

.info-cell:hover .info-cell-header,
.info-cell:hover .info-cell-descript {
  color: black;
  transform: translateX(0%);
}

.about-outro-img {
  border: 1px solid black;
  border-radius: 25px;
}

.about-outro-img img {
  display: block;
  width: 100vw;
}

#work-section {
  width: 100vw;
}

.albums-container {
  height: 100vh;
  width: 100%;
  background-color: black;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.album-slide {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  overflow: hidden;
  transition: 1s;
}

.album-slide-left, .album-slide-right {
  top: calc(50vh - 50px);
  z-index: 2;
}

.album-slide-left {
  left: 10px;
}

.album-slide-right {
  right: 10px;
}

.album-poster {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;
  transform: rotate(-10deg);
}

.album-poster1 {
  background-image: url("https://i.ibb.co/HBWcF6F/Anna-s-Collection.png");
  box-shadow: -63px 58px 240px -7px rgba(255, 255, 255, 0.6);
}

.album-poster2 {
  background-image: url("https://i.ibb.co/hDkGt8C/Best-of.png");
  box-shadow: -83px -49px 240px -9px rgba(112, 237, 90, 0.6);
}

.album-poster3 {
  background-image: url("https://i.ibb.co/QHdWyKk/Mozart.png");
  box-shadow: 116px -76px 222px -9px rgba(250, 202, 150, 0.7);
}

.album-poster4 {
  background-image: url("https://i.postimg.cc/rwbz29z4/temp-Image-PGPmc8.avif");
  box-shadow: 65px 43px 222px -9px rgba(192, 224, 250, 0.7);
}

.album-tracks-container {
  width: 300px;
  height: 400px;
  overflow: scroll !important;
  border-radius: 10px;
}

.song-container {
  width: calc(100% - 10px);
  background-color: #3c3c3c;
  border-bottom: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.song-container:hover {
  filter: brightness(150%);
}

.song-title {
  font-size: 1rem;
  color: #f2f0ef;
}

.song-audio {
  width: calc(100% - 10px);
  height: 1rem;
  display: block;
}

.song-artist {
  font-size: 0.75rem;
  color: rgba(242, 240, 239, 50%);
  display: block;
}

.singles-container {
  width: 100%;
  height: 100vh;
  background-color: #f2f0ef;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 25px;
}

.single-slide {
  width: 33.3vw;
  height: 33.3vw;
  position: relative;
  overflow: hidden;
}

.single-slide:hover .single {
  transform: translateY(-100%);
}

.single {
  border-radius: 10px;
  position: absolute;
  transition: 0.5s;
}

.single-cover {
  width: 100%;
  height: 100%;
  display: block;
}

.events-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  border: 1px solid black;
  border-radius: 25px;
}

.events-flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.concerts-column,
.releases-column,
.special-events-column {
  width: 30%;
  height: 80%;
  background-color: #3c3c3c;
  margin: 10px;
  color: black;
  overflow: auto;
  overscroll-behavior: auto;
}

.event-column-header {
  position: sticky;
  top: 0px;
  background-color: #f2f0ef;
  color: black;
  width: 100%;
  padding: 10px;
  font-size: 1.5em;
}

.event-cell {
  width: 95%;
  margin: 10px auto;
  background-color: #f2f0ef;
  border-radius: 10px;
  overflow: hidden;
}

.event-cell:hover {
  filter: brightness(125%);
}

.event-image {
  display: block;
  width: 100%;
}

.event-title {
  padding: 10px;
  margin: 0;
  font-size: 1.25em;
}

.event-date {
  color: rgba(0, 0, 0, 50%);
}

.event-descript {
  padding: 10px;
  font-size: 1em;
  margin: 0;
}

.event-footer {
  padding: 10px;
  margin: 0;
}

.event-icon {
  fill: black;
  height: 0.9em;
  vertical-align: baseline;
}

#contact-section {
  width: 100%;
  height: 100vh;
  background-color: #f2f1ef;
  display: flex;
  border: 1px solid black;
  border-radius: 25px;
}

.contact-descript {
  width: 50%;
  height: 100%;
  transform: scale(0.9);
  background-color: black;
  box-shadow: 9px 3px 24px -4px rgba(0, 0, 0, 0.75);
  position: relative;
}

.contact-form {
  width: 50%;
  height: 100%;
  overflow: auto;
  transform: scale(0.9);
  background-color: #f2f1ef;
  box-shadow: 9px 3px 24px -4px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-descript-header {
  font-size: 7em;
  margin-left: 5%;
  color: #f1f2ef;
}

.contact-descript-text {
  color: #f1f2ef;
  font-size: 2em;
  line-height: 1.5;
  margin: 5%;
  position: absolute;
  bottom: 20px;
}

[for="name"],
[for="email"] {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  margin: 5%;
}

.info-inputs {
  background-color: #c1c2be;
  color: black;
  outline: none;
  width: 50%;
  font-family: "Josefin Sans", serif;
  font-size: 1em;
}

[for="input-descript"] {
  margin: 5%;
  font-size: 2em;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-descript {
  background-color: #c1c2be;
  height: calc(100% - 2em);
  color: black;
  outline: none;
  appearance: auto;
  font-family:"Josefin Sans", serif;
  resize: none;
  font-size: 1em;
}

[type="submit"] {
  background-color: #c1c2be;
  font-family: "Josefin Sans", serif;
  font-size: 2em;
  font-weight: 600;
  display: block;
  width: 90%;
  margin: 5%;
  border: none;
}

.info-inputs:focus,
.input-descript:focus,
[type="submit"]:hover {
  background-color: white;
}

.gallery-section {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 25px;
}

.gallery-section > img {
  height: 90vh;
  max-height: 400px;
  position: absolute;
}

.site-footer {
  width: 100%;
  height: auto;
  background-color: black;
  color: #f1f2ef;
  display: flex;
  justify-content: space-between;
  margin: 0;
  position: relative;
  border: 1px solid black;
  border-radius: 25px;
}

.footer-text {
  display: block;
  opacity: 0.5;
}

.footer-column {
  width: 50%;
  padding: 10px;
}

.profile-links {
  width: 50%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-left: auto;
  color: #f1f2ef;
  text-align: right;
  opacity: 0.5;
}

.profile-links:hover {
  opacity: 1;
}

.github-icon, .fcc-icon, .codepen-icon {
  width: 25px;
}

@media only screen and (max-width: 1000px) {
  
  .logo-signature {
    padding-left: 0;
  }
  
  .navlinks-container {
    padding: 42px 0;
    margin: 5vw;
  }
  
  #about-section {
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  #yt-slide-up {
    top: auto;
    bottom: 10px;
    left: calc(75vw - 60px);
  }
  
  .slideshow-container {
    width: 100%;
    margin: 0;
    margin-bottom: 150px;
    overflow: hidden;
  }

  .live-perfomances-svg-container {
    width: auto;
    margin-bottom: 2rem;
  }
  
  .live-perfomances-svg {
    width: 50vw;
    max-width: 400px;
    height: 50vw;
    max-height: 400px;
  }
  
  .slide iframe {
    width: 90vw;
  }
  
  :root {
  --3d-slideshow-spread: 3;
  }
  
  .info-container {
    height: auto;
  }
  
  .info-cell {
    display: block;
  }
  
  .info-cell-header {
    width: 100vw;
    margin: 0;
    font-size: 10vh;
    text-align: center;
    white-space: wrap;
    word-wrap: break-word;
  }
  
  .info-cell-descript {
    margin: 0;
    transform: translate(0px);
    width: 100vw;
  }
  
  .info-cell-descript p {
    text-align: center;
  }

  .album-slide-left, .album-slide-right {
    transform: scale(0.5);
  }
  
  .album-slide {
    flex-direction: column;
  }
  
  .album-poster {
    width: 75vw;
    max-width: 300px;
    height: 75vw;
    max-height: 300px;
  }
  
  .album-tracks-container {
    height: 25vh;
    width: 90vw;
    max-width: 300px;
  }
  
  .single-slide {
    width: 90vw;
    height: 90vw;
    max-width: 400px;
    max-height: 400px;
  }
  
  .events-container {
    height: auto;
  }
  
  .events-flex-container {
    display: block;
  }
  
  .concerts-column,
.releases-column,
  .special-events-column {
    width: 90vw;
    height: 80vh;
    margin: 0 auto;
  }
  
  #contact-section {
    display: block;
    height: 200vh;
    padding: 5vw 0;
  }
  
  .contact-descript, .contact-form {
    height: 50%;
    width: 90vw;
    transform: scale(1);
    margin: 0 auto;
  }
  
  .contact-descript-header {
    font-size: 4em;
  }
  
  .contact-descript-text {
    font-size: 1.7em;
  }
  
  .gallery-section > img {
    height: 90vw;
    max-height: 300px;
  }
  
  .site-footer {
    display: block;
    padding-bottom: 5rem;
  }

  .footer-column {
    width: 100%;
  }

  .profile-links {
    margin-right: auto;
    margin-left: 0;
    width: 90vw;
  }
}
